.container-fluid{
  
   background-image: url("https://i.pinimg.com/originals/f7/5c/b0/f75cb0bd2592daad99cf2d723178bfe6.jpg");
 background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  
  
}

#welcome-section{
  height: 100vh;
}



h1, h2 ,h3{
  text-align: center;
  color: black;
}
img{
  display: block;
  margin: 0 auto;
  width: 25%;
  border-radius: 5%;
  margin-bottom: 100px;
}
#navigation{
 
  background-color: rgba(15,15,15,.5);
  padding:10px 0 10px 0;
  width: 100%;
  position: fixed;
  z-index: 2;
 
  
}

#after-nav{
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 96%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 10px;


}
#projects{
  height: 100vh;
}

.project-tile img{
  width:100%;
  height: 100%%;
}

#about-me-section{
  height: 100vh;
}

#about-me
{
  clear: both;
  /*this was a total guess assuming that bootstrap was using floats. It worked!*/
  
 
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
  background-color: rgba(220,220,220,150);
  margin-bottom: 50px;
  background: radial-gradient(  white 25%, silver 45%, gray);
  color: black;
}
#about-me > h2{
  color: black;
}








@media(max-width: 991px){
  #navigation > div{
    margin-top:1px;
  }
  #contact-section > div{
    margin-top: 1px;
  }
}
